In [1]:
#Import our libraries
import time
import requests
import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy
import sys

#Set the path variable, so python can find the module, helper_functions_employee_attestation
sys.path.append(r"\\dc-bisql01\UKG\Reports as a service\Precheck")

#Import our helper functions
import helper_functions_employee_attestation

# Step 1: View the list of reports available

In [2]:
#View the list of reports
#report_lst = helper_functions.get_available_reports()
#list(report_lst[report_lst['ReportName'] == 'Attestation V3']['ReportPath'])

In [3]:
#report_path = report_lst[report_lst['ReportName'] == 'Pre-Check Deduction']['ReportPath'].loc[64]
report_file_path = helper_functions_employee_attestation.get_report_file_path('Attestation V4')
report_file_path

'/content/folder[@name=\'zzzCompany Folders\']/folder[@name=\'Proliance Surgeons, Inc., P.S.\']/folder[@name=\'UltiPro\']/folder[@name="Zack\'s Reports"]/report[@name=\'Attestation V4\']'

## Step 2: Retrieve the report and export as a CSV

In [4]:
df = helper_functions_employee_attestation.retrieve_report(report_file_path) 
df

,employee_id,first_name,last_name,pay_group,timesheet_status_code,work_date,in_punch,out_punch
0,000000000012345,RYAN UTM,RYAN UTM,Salaried Biweekly,3,2023-05-29 00:00:00,,
1,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-02 00:00:00,2023-03-02 07:20:00,2023-03-02 12:14:00
2,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-02 00:00:00,2023-03-02 12:43:00,2023-03-02 16:26:00
3,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-03 00:00:00,2023-03-03 07:08:00,2023-03-03 12:06:00
4,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-03 00:00:00,2023-03-03 12:32:00,2023-03-03 16:17:00
...,...,...,...,...,...,...,...,...
167545,001008959-JAV8Y,Tesha,Frederickson,Hourly BiWeekly,3,2023-06-02 00:00:00,2023-06-02 12:35:00,2023-06-02 15:54:00
167546,001008959-JAV8Y,Tesha,Frederickson,Hourly BiWeekly,0,2023-06-05 00:00:00,2023-06-05 06:27:00,2023-06-05 11:45:00
167547,001008959-JAV8Y,Tesha,Frederickson,Hourly BiWeekly,0,2023-06-05 00:00:00,2023-06-05 12:15:00,2023-06-05 15:54:00
167548,001008959-JAV8Y,Tesha,Frederickson,Hourly BiWeekly,0,2023-06-06 00:00:00,2023-06-06 06:25:00,2023-06-06 12:00:00
167549,001008959-JAV8Y,Tesha,Frederickson,Hourly BiWeekly,0,2023-06-06 00:00:00,2023-06-06 12:30:00,2023-06-06 15:30:00

In [5]:
df[df['employee_id'] == '000000273-JAV8Y']

,employee_id,first_name,last_name,pay_group,timesheet_status_code,work_date,in_punch,out_punch
1,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-02 00:00:00,2023-03-02 07:20:00,2023-03-02 12:14:00
2,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-02 00:00:00,2023-03-02 12:43:00,2023-03-02 16:26:00
3,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-03 00:00:00,2023-03-03 07:08:00,2023-03-03 12:06:00
4,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-03 00:00:00,2023-03-03 12:32:00,2023-03-03 16:17:00
5,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-06 00:00:00,2023-03-06 07:14:00,2023-03-06 12:14:00
...,...,...,...,...,...,...,...,...
195,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-07-24 00:00:00,,
196,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-08-04 00:00:00,,
197,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-08-17 00:00:00,,
198,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-08-18 00:00:00,,
199,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-09-01 00:00:00,,

# Step 3: Export the report as a CSV

In [6]:
#df.to_csv('ukg_bulk_insert.csv', index=False)

# Step 4: Insert the report into BiData2 as a table

In [7]:
#helper_functions_employee_attestation.create_sql_table_v2('STG_PreCheck_Deduction')

# Step 5: Close the API connection

In [8]:
#helper_functions_employee_attestation.close_api_connection()