In [26]:
#Import our libraries
import time
import requests
from requests.auth import HTTPBasicAuth

import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy

import utm_helper_functions as hf

## Obtain the time dataset

In [27]:
#Set the date range variables for the date range we want pulled
year = '2023'
month = '03'

In [28]:
#Our endpoint
url="https://kN21.ultipro.com/UtmOdataServices/api/Time?$filter=year(In) eq " + year + " and month(In) eq " + month

#Our username and password for the API authentication
username = "znarkin"
password = "v#2OT*aOm#JC/xq+MC_}"


#Pass in the Customer API key as a header
#headers = {"US-Customer-Api-Key": "PLAB4"}


#The response variable
response = requests.get(url, auth=HTTPBasicAuth(username, password))

#print(response.text)

In [29]:
data = response.json()
#data

In [30]:
time_df = pd.DataFrame(data['value'])
time_df

,Id,EmpId,WorkDate,PaycodeId,PaycodeExp,InOrg,OutOrg,In,Out,InExp,...,SiteIn,SiteOut,QuanGood,QuanScrap,BegSched,EndSched,Status,AdjustmentDate,InRounded,OutRounded
0,8026511,001001650-JAV8Y,2023-03-01,0,WKHR,2023-03-01T02:41:00-05:00,2023-03-01T06:30:00-05:00,2023-03-01T02:41:00-05:00,2023-03-01T06:30:00-05:00,,...,0002-009,0002-009,0.0,0.0,,,3,None,2023-03-01T02:41:00-05:00,2023-03-01T06:30:00-05:00
1,8026512,001005922-JAV8Y,2023-03-01,0,WKHR,2023-03-01T03:32:00-05:00,2023-03-01T05:38:00-05:00,2023-03-01T03:32:00-05:00,2023-03-01T05:38:00-05:00,,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-01T03:32:00-05:00,2023-03-01T05:38:00-05:00
2,8026513,000121060-JAV8Y,2023-03-01,0,WKHR,2023-03-01T03:55:00-05:00,2023-03-01T14:58:00-05:00,2023-03-01T03:55:00-05:00,2023-03-01T14:58:00-05:00,,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-01T03:55:00-05:00,2023-03-01T14:58:00-05:00
3,8026514,001003635-JAV8Y,2023-03-01,0,WKHR,2023-03-01T04:00:00-05:00,2023-03-01T11:00:00-05:00,2023-03-01T04:00:00-05:00,2023-03-01T11:00:00-05:00,,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-01T04:00:00-05:00,2023-03-01T11:00:00-05:00
4,8026515,001008680-JAV8Y,2023-03-01,0,WKHR,2023-03-01T04:00:00-05:00,2023-03-01T10:18:00-05:00,2023-03-01T04:00:00-05:00,2023-03-01T10:18:00-05:00,,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-01T04:00:00-05:00,2023-03-01T10:18:00-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48850,8124205,001000662-JAV8Y,2023-03-28,0,WKHR,None,None,2023-03-28T13:30:00-04:00,2023-03-28T18:30:00-04:00,M 45,...,,,0.0,0.0,,,3,None,2023-03-28T13:30:00-04:00,2023-03-28T18:30:00-04:00
48851,8124206,001000662-JAV8Y,2023-03-29,0,WKHR,None,None,2023-03-29T09:05:00-04:00,2023-03-29T13:00:00-04:00,,...,,,0.0,0.0,,,3,None,2023-03-29T09:05:00-04:00,2023-03-29T13:00:00-04:00
48852,8124207,001000662-JAV8Y,2023-03-29,0,WKHR,None,None,2023-03-29T13:30:00-04:00,2023-03-29T18:00:00-04:00,M 30,...,,,0.0,0.0,,,3,None,2023-03-29T13:30:00-04:00,2023-03-29T18:00:00-04:00
48853,8124208,001000662-JAV8Y,2023-03-30,0,WKHR,None,None,2023-03-30T10:30:00-04:00,2023-03-30T17:00:00-04:00,,...,,,0.0,0.0,,,3,None,2023-03-30T10:30:00-04:00,2023-03-30T17:00:00-04:00
48854,8124209,001000662-JAV8Y,2023-03-31,0,WKHR,None,None,2023-03-31T10:30:00-04:00,2023-03-31T16:05:00-04:00,,...,,,0.0,0.0,,,3,None,2023-03-31T10:30:00-04:00,2023-03-31T16:05:00-04:00

In [31]:
time_columns = list(time_df.columns)
time_columns

['Id',
 'EmpId',
 'WorkDate',
 'PaycodeId',
 'PaycodeExp',
 'InOrg',
 'OutOrg',
 'In',
 'Out',
 'InExp',
 'OutExp',
 'ShiftExp',
 'SchHrs',
 'RegHr',
 'Overt1',
 'Overt2',
 'Overt3',
 'Overt4',
 'Overt5',
 'RegPay',
 'Ot1Pay',
 'Ot2Pay',
 'Ot3Pay',
 'Ot4Pay',
 'Ot5Pay',
 'WeekReg',
 'WeekOt1',
 'WeekOt2',
 'WeekOt3',
 'WeekOt4',
 'WeekOt5',
 'ReasonId',
 'PaygroupId',
 'LocationId',
 'JobId',
 'ProjectId',
 'OrgLevel1Id',
 'OrgLevel2Id',
 'OrgLevel3Id',
 'OrgLevel4Id',
 'PeriodTh',
 'SiteIn',
 'SiteOut',
 'QuanGood',
 'QuanScrap',
 'BegSched',
 'EndSched',
 'Status',
 'AdjustmentDate',
 'InRounded',
 'OutRounded']

#Get the columns formatted so that we can create a SQL table
time_columns_cleaned = []
for each in time_columns:
    cleaned_column = each + ' ' + 'NVARCHAR(255)' 
    time_columns_cleaned.append(cleaned_column)

str(time_columns_cleaned).replace('\'', '').replace('[', '').replace(']', '')

In [32]:
#Subset the columns
#time_df_subset = time_df[['EmpId', 'WorkDate', 'RegHr', 'Overt1', 'Overt2','Overt3','Overt4','Overt5']]
#time_df_subset

In [33]:
#Export data as CSV
time_df.to_csv('ukg_bulk_insert.csv', index=False)

In [34]:
#Pull data into SQL
hf.create_sql_table_v2('ZZ_TEST_UTM_TIME')

Code to create table:
CREATE TABLE ZZ_TEST_EmployeeHours (
EmpId NVARCHAR(255), 
WorkDate NVARCHAR(255), 
RegHr NVARCHAR(255), 
Overt1 NVARCHAR(255), 
Overt2 NVARCHAR(255),
Overt3 NVARCHAR(255),
Overt4 NVARCHAR(255),
Overt5 NVARCHAR(255))


CREATE TABLE [dbo].[ZZ_TEST_UTM_TIME](
Id NVARCHAR(255), EmpId NVARCHAR(255), WorkDate NVARCHAR(255), PaycodeId NVARCHAR(255), PaycodeExp NVARCHAR(255), InOrg NVARCHAR(255), OutOrg NVARCHAR(255), InTime NVARCHAR(255), OutTime NVARCHAR(255), InExp NVARCHAR(255), OutExp NVARCHAR(255), ShiftExp NVARCHAR(255), SchHrs NVARCHAR(255), RegHr NVARCHAR(255), Overt1 NVARCHAR(255), Overt2 NVARCHAR(255), Overt3 NVARCHAR(255), Overt4 NVARCHAR(255), Overt5 NVARCHAR(255), RegPay NVARCHAR(255), Ot1Pay NVARCHAR(255), Ot2Pay NVARCHAR(255), Ot3Pay NVARCHAR(255), Ot4Pay NVARCHAR(255), Ot5Pay NVARCHAR(255), WeekReg NVARCHAR(255), WeekOt1 NVARCHAR(255), WeekOt2 NVARCHAR(255), WeekOt3 NVARCHAR(255), WeekOt4 NVARCHAR(255), WeekOt5 NVARCHAR(255), ReasonId NVARCHAR(255), PaygroupId NVARCHAR(255), LocationId NVARCHAR(255), JobId NVARCHAR(255), ProjectId NVARCHAR(255), OrgLevel1Id NVARCHAR(255), OrgLevel2Id NVARCHAR(255), OrgLevel3Id NVARCHAR(255), OrgLevel4Id NVARCHAR(255), PeriodTh NVARCHAR(255), SiteIn NVARCHAR(255), SiteOut NVARCHAR(255), QuanGood NVARCHAR(255), QuanScrap NVARCHAR(255), BegSched NVARCHAR(255), EndSched NVARCHAR(255), Status NVARCHAR(255), AdjustmentDate NVARCHAR(255), InRounded NVARCHAR(255), OutRounded NVARCHAR(255)

)