In [32]:
#Import our libraries
import time
import requests
from requests.auth import HTTPBasicAuth

import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy

## Obtain the time dataset

In [33]:
#Our endpoint
url="https://kN21.ultipro.com/UtmOdataServices/api/Time?$filter=year(In) eq 2022 and month(In) eq 12"

#Our username and password for the API authentication
username = "znarkin"
password = "page!i)yCI5-Y26o}7i("


#Pass in the Customer API key as a header
#headers = {"US-Customer-Api-Key": "PLAB4"}


#The response variable
response = requests.get(url, auth=HTTPBasicAuth(username, password))

#response.text

In [34]:
data = response.json()
#data

In [35]:
time_df = pd.DataFrame(data['value'])
time_df

,Id,EmpId,WorkDate,PaycodeId,PaycodeExp,InOrg,OutOrg,In,Out,InExp,...,SiteIn,SiteOut,QuanGood,QuanScrap,BegSched,EndSched,Status,AdjustmentDate,InRounded,OutRounded
0,7838627,001005331-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:17:00-05:00,2022-12-13T17:09:00-05:00,2022-12-13T13:17:00-05:00,2022-12-13T17:09:00-05:00,M 37,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2022-12-13T13:17:00-05:00,2022-12-13T17:09:00-05:00
1,7838628,001004355-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:17:00-05:00,2022-12-13T16:35:00-05:00,2022-12-13T13:17:00-05:00,2022-12-13T16:35:00-05:00,M 63,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2022-12-13T13:17:00-05:00,2022-12-13T16:35:00-05:00
2,7838629,001006778-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:17:00-05:00,2022-12-13T16:51:00-05:00,2022-12-13T13:17:00-05:00,2022-12-13T16:51:00-05:00,M 16,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2022-12-13T13:17:00-05:00,2022-12-13T16:51:00-05:00
3,7838630,001007979-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:18:00-05:00,2022-12-13T16:27:00-05:00,2022-12-13T13:18:00-05:00,2022-12-13T16:27:00-05:00,M 30,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2022-12-13T13:18:00-05:00,2022-12-13T16:27:00-05:00
4,7838631,001005032-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:18:00-05:00,2022-12-13T17:36:00-05:00,2022-12-13T13:18:00-05:00,2022-12-13T17:36:00-05:00,M 38,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2022-12-13T13:18:00-05:00,2022-12-13T17:36:00-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41466,7838622,001002275-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:15:00-05:00,2022-12-13T17:07:00-05:00,2022-12-13T13:15:00-05:00,2022-12-13T17:07:00-05:00,M 21,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2022-12-13T13:15:00-05:00,2022-12-13T17:07:00-05:00
41467,7838623,001003127-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:15:00-05:00,2022-12-13T15:23:00-05:00,2022-12-13T13:15:00-05:00,2022-12-13T15:23:00-05:00,M 15,...,0002-009,0002-009,0.0,0.0,,,3,None,2022-12-13T13:15:00-05:00,2022-12-13T15:23:00-05:00
41468,7838624,001007489-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:15:00-05:00,2022-12-13T17:05:00-05:00,2022-12-13T13:15:00-05:00,2022-12-13T17:05:00-05:00,M 62,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2022-12-13T13:15:00-05:00,2022-12-13T17:05:00-05:00
41469,7838625,001007789-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:15:00-05:00,2022-12-13T17:21:00-05:00,2022-12-13T13:15:00-05:00,2022-12-13T17:21:00-05:00,M 31,...,0002-010,0002-010,0.0,0.0,,,3,None,2022-12-13T13:15:00-05:00,2022-12-13T17:21:00-05:00
41470,7838626,001007074-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:16:00-05:00,2022-12-13T18:34:00-05:00,2022-12-13T13:16:00-05:00,2022-12-13T18:34:00-05:00,M 27,...,,,0.0,0.0,,,3,None,2022-12-13T13:16:00-05:00,2022-12-13T18:34:00-05:00

## Obtain the employee dataset

In [36]:
#Our endpoint
url="https://kN21.ultipro.com/UtmOdataServices/api/Employee"

#Our username and password for the API authentication
username = "znarkin"
password = "page!i)yCI5-Y26o}7i("


#Pass in the Customer API key as a header
#headers = {"US-Customer-Api-Key": "PLAB4"}


#The response variable
response = requests.get(url, auth=HTTPBasicAuth(username, password))

#Convert the response object to JSON
data = response.json()

#Get the employee data
employee_df = pd.DataFrame(data['value'])

#Show the results
employee_df

,Id,EmpId,CardNum,SupId,SupName,FirstName,LastName,Active,Email,BirthDate,...,LocationId,JobId,ProjectId,OrgLevel1Id,OrgLevel2Id,OrgLevel3Id,OrgLevel4Id,PayPolicyId,ShiftId,AccessGroupId
0,1,000000000099999,99998,000000000000000,,TESTHRLY,EMPLOYEE,A,Test@abccompany.com,1966-01-28T00:00:00-05:00,...,180,23,2,2,2,2,2.0,2,1,1104
1,4,000000226-JAV8Y,120223,001003516-JAV8Y,"Vassar, Natalie",Tammy,Swart,A,T.Swart@proliancesurgeons.com,1961-06-19T00:00:00-04:00,...,322,209,2,321,1656,3,3.0,2,1,1104
2,5,000000151-JAV8Y,0,,,Thomas,Jurich,I,,1955-11-21T00:00:00-05:00,...,312,48,2,311,758,318,3.0,3,1,1106
3,6,000000221-JAV8Y,46682,,,Moira,Stein-Ward,I,,1954-06-10T00:00:00-04:00,...,160,15,2,147,741,3,3.0,2,1,1104
4,7,001002848-JAV8Y,0,,,Tiffany,Whitford,I,,1981-02-12T00:00:00-05:00,...,114,8,2,58,320,3,NaN,2,1,1104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7548,7562,001008706-JAV8Y,0,001007110-JAV8Y,"Waller, Cara",James,Burns,A,Ja.Burns@proliancesurgeons.com,2002-06-17T00:00:00-04:00,...,263,242,2,263,1657,3,3.0,2,1,1104
7549,7563,001008704-JAV8Y,0,001005168-JAV8Y,"Nelson, Gordon",Kaycie,Boerner,A,K.Boerner@proliancesurgeons.com,1991-06-25T00:00:00-04:00,...,289,282,2,288,1656,3,3.0,2,1,1104
7550,7564,001008728-JAV8Y,0,001007110-JAV8Y,"Waller, Cara",Rafael,Hurtado,A,R.Hurtado@proliancesurgeons.com,1978-04-30T00:00:00-04:00,...,263,242,2,263,1657,3,3.0,2,1,1104
7551,7565,001008717-JAV8Y,0,001003840-JAV8Y,"Meraz Devine, Klarisa",Zainab,Lughmani,A,Z.Lughmani@proliancesurgeons.com,2001-10-30T00:00:00-05:00,...,255,201,2,255,1656,3,3.0,2,1,1104
7552,7566,001008665-JAV8Y,0,000520002-JAV8Y,"Malone, Eric",Lisa,DeVlieg,A,L.DeVlieg@proliancesurgeons.com,1969-11-07T00:00:00-05:00,...,290,194,2,289,1656,956,3.0,1,4,1105

## Merge the Time and Employee datasets

In [37]:
time_df['EmpId']=time_df['EmpId'].astype(str)

type(time_df['EmpId'][0])

str

In [38]:
employee_df['EmpId']=employee_df['EmpId'].astype(str)

type(employee_df['EmpId'][0])

str

In [39]:
merged_df = time_df.merge(employee_df, on='EmpId', how='inner')
merged_df

,Id_x,EmpId,WorkDate,PaycodeId,PaycodeExp,InOrg,OutOrg,In,Out,InExp,...,LocationId_y,JobId_y,ProjectId_y,OrgLevel1Id_y,OrgLevel2Id_y,OrgLevel3Id_y,OrgLevel4Id_y,PayPolicyId,ShiftId,AccessGroupId
0,7838627,001005331-JAV8Y,2022-12-13,0,WKHR,2022-12-13T13:17:00-05:00,2022-12-13T17:09:00-05:00,2022-12-13T13:17:00-05:00,2022-12-13T17:09:00-05:00,M 37,...,305,110,2,304,1656,3,3.0,2,1,1104
1,7840444,001005331-JAV8Y,2022-12-14,0,WKHR,2022-12-14T08:16:00-05:00,2022-12-14T10:42:00-05:00,2022-12-14T08:16:00-05:00,2022-12-14T10:42:00-05:00,,...,305,110,2,304,1656,3,3.0,2,1,1104
2,7841608,001005331-JAV8Y,2022-12-14,0,WKHR,2022-12-14T13:21:00-05:00,2022-12-14T17:31:00-05:00,2022-12-14T13:21:00-05:00,2022-12-14T17:31:00-05:00,M159,...,305,110,2,304,1656,3,3.0,2,1,1104
3,7843439,001005331-JAV8Y,2022-12-15,0,WKHR,2022-12-15T08:16:00-05:00,2022-12-15T12:45:00-05:00,2022-12-15T08:16:00-05:00,2022-12-15T12:45:00-05:00,,...,305,110,2,304,1656,3,3.0,2,1,1104
4,7844461,001005331-JAV8Y,2022-12-15,0,WKHR,2022-12-15T13:15:00-05:00,2022-12-15T17:00:00-05:00,2022-12-15T13:15:00-05:00,2022-12-15T17:00:00-05:00,M 30,...,305,110,2,304,1656,3,3.0,2,1,1104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41466,7835119,001001347-JAV8Y,2022-12-12,0,WKHR,2022-12-12T09:51:00-05:00,2022-12-12T15:18:00-05:00,2022-12-12T09:51:00-05:00,2022-12-12T15:18:00-05:00,,...,289,134,2,288,1656,3,2.0,5,1,1104
41467,7837025,001007993-JAV8Y,2022-12-13,0,WKHR,2022-12-13T06:46:00-05:00,2022-12-13T11:39:00-05:00,2022-12-13T06:46:00-05:00,2022-12-13T11:39:00-05:00,,...,327,134,2,326,1656,3,3.0,2,1,1104
41468,7838163,001007993-JAV8Y,2022-12-13,0,WKHR,2022-12-13T12:09:00-05:00,2022-12-13T15:24:00-05:00,2022-12-13T12:09:00-05:00,2022-12-13T15:24:00-05:00,M 30,...,327,134,2,326,1656,3,3.0,2,1,1104
41469,7837192,001008167-JAV8Y,2022-12-13,0,WKHR,2022-12-13T07:11:00-05:00,2022-12-13T11:50:00-05:00,2022-12-13T07:11:00-05:00,2022-12-13T11:50:00-05:00,,...,474,134,2,468,1656,3,3.0,2,1,1104
41470,7838215,001008167-JAV8Y,2022-12-13,0,WKHR,2022-12-13T12:21:00-05:00,2022-12-13T17:21:00-05:00,2022-12-13T12:21:00-05:00,2022-12-13T17:21:00-05:00,M 31,...,474,134,2,468,1656,3,3.0,2,1,1104

#Subset the dataframe so it is easier to read
merged_df = merged_df.drop(['PaycodeId', 'PaycodeExp', 'InOrg',
       'OutOrg''InExp', 'OutExp', 'ShiftExp', 'SchHrs', 'RegHr',
       'Overt1', 'Overt2', 'Overt3', 'Overt4', 'Overt5', 'RegPay', 'Ot1Pay',
       'Ot2Pay', 'Ot3Pay', 'Ot4Pay', 'Ot5Pay', 'WeekReg', 'WeekOt1', 'WeekOt2',
       'WeekOt3', 'WeekOt4', 'WeekOt5', 'ReasonId', 'PaygroupId_x''ProjectId_x', 'OrgLevel1Id_x',
       'OrgLevel2Id_x', 'OrgLevel3Id_x', 'OrgLevel4Id_x', 'PeriodTh', 'SiteIn',
       'SiteOut', 'QuanGood', 'QuanScrap', 'BegSched', 'EndSched', 'Status',
       'AdjustmentDate', 'InRounded', 'OutRounded', 'Id_y', 'CardNum', 'SupId',
       'SupName''Email', 'BirthDate',
       'HireDate', 'PayMethod', 'PayType', 'HoliRule', 'PayCate',
       'PaygroupId_y', 'LocationId_y', 'JobId_y', 'ProjectId_y',
       'OrgLevel1Id_y', 'OrgLevel2Id_y', 'OrgLevel3Id_y', 'OrgLevel4Id_y''ShiftId', 'AccessGroupId', 'Pay Type'], axis=1)

In [40]:
merged_df.columns

Index(['Id_x', 'EmpId', 'WorkDate', 'PaycodeId', 'PaycodeExp', 'InOrg',
       'OutOrg', 'In', 'Out', 'InExp', 'OutExp', 'ShiftExp', 'SchHrs', 'RegHr',
       'Overt1', 'Overt2', 'Overt3', 'Overt4', 'Overt5', 'RegPay', 'Ot1Pay',
       'Ot2Pay', 'Ot3Pay', 'Ot4Pay', 'Ot5Pay', 'WeekReg', 'WeekOt1', 'WeekOt2',
       'WeekOt3', 'WeekOt4', 'WeekOt5', 'ReasonId', 'PaygroupId_x',
       'LocationId_x', 'JobId_x', 'ProjectId_x', 'OrgLevel1Id_x',
       'OrgLevel2Id_x', 'OrgLevel3Id_x', 'OrgLevel4Id_x', 'PeriodTh', 'SiteIn',
       'SiteOut', 'QuanGood', 'QuanScrap', 'BegSched', 'EndSched', 'Status',
       'AdjustmentDate', 'InRounded', 'OutRounded', 'Id_y', 'CardNum', 'SupId',
       'SupName', 'FirstName', 'LastName', 'Active', 'Email', 'BirthDate',
       'HireDate', 'PayMethod', 'PayType', 'HoliRule', 'PayCate',
       'PaygroupId_y', 'LocationId_y', 'JobId_y', 'ProjectId_y',
       'OrgLevel1Id_y', 'OrgLevel2Id_y', 'OrgLevel3Id_y', 'OrgLevel4Id_y',
       'PayPolicyId', 'ShiftId', 'AccessGroupId'],
      dtype='object')

In [41]:
#View the possible pay policy ids (these tell us if an employee is salaried or hourly)
merged_df['PayPolicyId'].value_counts()

2    35995
5     5351
7       85
1       40
Name: PayPolicyId, dtype: int64

In [42]:
merged_df.columns

Index(['Id_x', 'EmpId', 'WorkDate', 'PaycodeId', 'PaycodeExp', 'InOrg',
       'OutOrg', 'In', 'Out', 'InExp', 'OutExp', 'ShiftExp', 'SchHrs', 'RegHr',
       'Overt1', 'Overt2', 'Overt3', 'Overt4', 'Overt5', 'RegPay', 'Ot1Pay',
       'Ot2Pay', 'Ot3Pay', 'Ot4Pay', 'Ot5Pay', 'WeekReg', 'WeekOt1', 'WeekOt2',
       'WeekOt3', 'WeekOt4', 'WeekOt5', 'ReasonId', 'PaygroupId_x',
       'LocationId_x', 'JobId_x', 'ProjectId_x', 'OrgLevel1Id_x',
       'OrgLevel2Id_x', 'OrgLevel3Id_x', 'OrgLevel4Id_x', 'PeriodTh', 'SiteIn',
       'SiteOut', 'QuanGood', 'QuanScrap', 'BegSched', 'EndSched', 'Status',
       'AdjustmentDate', 'InRounded', 'OutRounded', 'Id_y', 'CardNum', 'SupId',
       'SupName', 'FirstName', 'LastName', 'Active', 'Email', 'BirthDate',
       'HireDate', 'PayMethod', 'PayType', 'HoliRule', 'PayCate',
       'PaygroupId_y', 'LocationId_y', 'JobId_y', 'ProjectId_y',
       'OrgLevel1Id_y', 'OrgLevel2Id_y', 'OrgLevel3Id_y', 'OrgLevel4Id_y',
       'PayPolicyId', 'ShiftId', 'AccessGroupId'],
      dtype='object')

#Create a column showing if the employee is salaried or hourly
def pay_type(row):
    if row == 1:
        return 'Salaried'
    elif ((row==2) or (row==5) or (row==7)):
        return 'Hourly'
    else:
        return 'Null'

merged_df['Pay Type'] = merged_df['PayPolicyId'].apply(pay_type)

## Add the Timesheet dataset

#Our endpoint
url="https://kN21.ultipro.com/UtmOdataServices/api/Timesheet?$filter=year(Starts) eq 2022 and month(Starts) eq 12"

#Our username and password for the API authentication
username = "znarkin"
password = "page!i)yCI5-Y26o}7i("


#Pass in the Customer API key as a header
#headers = {"US-Customer-Api-Key": "PLAB4"}


#The response variable
response = requests.get(url, auth=HTTPBasicAuth(username, password))

#Get the resposne object as JSON data
data = response.json()

#Convert to a dataframe
timesheet_df = pd.DataFrame(data['value'])
timesheet_df

In [43]:
merged_df[(merged_df['WorkDate'] == '2022-12-05') & (merged_df['EmpId'] == '001004952-JAV8Y')]

,Id_x,EmpId,WorkDate,PaycodeId,PaycodeExp,InOrg,OutOrg,In,Out,InExp,...,LocationId_y,JobId_y,ProjectId_y,OrgLevel1Id_y,OrgLevel2Id_y,OrgLevel3Id_y,OrgLevel4Id_y,PayPolicyId,ShiftId,AccessGroupId
10591,7818182,001004952-JAV8Y,2022-12-05,0,WKHR,2022-12-05T05:46:00-05:00,None,2022-12-05T05:46:00-05:00,2022-12-05T15:00:00-05:00,,...,277,246,2,277,1657,3,3.0,2,1,1104

In [44]:
merged_df[merged_df['WorkDate'] == '2022-12-05']

,Id_x,EmpId,WorkDate,PaycodeId,PaycodeExp,InOrg,OutOrg,In,Out,InExp,...,LocationId_y,JobId_y,ProjectId_y,OrgLevel1Id_y,OrgLevel2Id_y,OrgLevel3Id_y,OrgLevel4Id_y,PayPolicyId,ShiftId,AccessGroupId
15,7819067,001005331-JAV8Y,2022-12-05,0,WKHR,2022-12-05T08:14:00-05:00,2022-12-05T12:30:00-05:00,2022-12-05T08:14:00-05:00,2022-12-05T12:30:00-05:00,,...,305,110,2,304,1656,3,3.0,2,1,1104
17,7821093,001005331-JAV8Y,2022-12-05,0,WKHR,2022-12-05T13:03:00-05:00,None,2022-12-05T13:03:00-05:00,2022-12-05T17:00:00-05:00,M 33,...,305,110,2,304,1656,3,3.0,2,1,1104
49,7818669,001004355-JAV8Y,2022-12-05,0,WKHR,2022-12-05T07:26:00-05:00,2022-12-05T12:09:00-05:00,2022-12-05T07:26:00-05:00,2022-12-05T11:09:00-05:00,,...,460,205,2,452,1656,3,3.0,2,1,1104
50,7820678,001004355-JAV8Y,2022-12-05,0,WKHR,None,None,2022-12-05T12:09:00-05:00,2022-12-05T16:30:00-05:00,M 60,...,460,205,2,452,1656,3,3.0,2,1,1104
82,7819149,001006778-JAV8Y,2022-12-05,0,WKHR,2022-12-05T08:23:00-05:00,2022-12-05T13:32:00-05:00,2022-12-05T08:23:00-05:00,2022-12-05T13:15:00-05:00,,...,243,209,2,243,1656,3,3.0,2,1,1104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41351,7834497,001008621-JAV8Y,2022-12-05,0,WKHR,None,None,2022-12-05T08:00:00-05:00,2022-12-05T12:08:00-05:00,,...,347,203,2,344,1656,3,3.0,2,1,1104
41352,7834498,001008621-JAV8Y,2022-12-05,0,WKHR,None,None,2022-12-05T12:38:00-05:00,2022-12-05T16:32:00-05:00,M 30,...,347,203,2,344,1656,3,3.0,2,1,1104
41370,7821577,001001247-JAV8Y,2022-12-05,0,WKHR,2022-12-05T14:41:00-05:00,None,2022-12-05T10:00:00-05:00,2022-12-05T14:41:00-05:00,,...,311,134,2,310,1656,3,3.0,2,1,1104
41376,7821623,001007561-JAV8Y,2022-12-05,0,WKHR,2022-12-05T08:15:00-05:00,None,2022-12-05T08:15:00-05:00,2022-12-05T14:30:00-05:00,,...,327,134,2,326,1656,3,3.0,2,1,1104
41377,7821624,001007561-JAV8Y,2022-12-05,0,WKHR,None,2022-12-05T19:23:00-05:00,2022-12-05T15:00:00-05:00,2022-12-05T19:23:00-05:00,M 30,...,327,134,2,326,1656,3,3.0,2,1,1104

In [45]:
merged_df[merged_df['InExp']].value_counts()

KeyError: "None of [Index(['M 37', '', 'M159', '', 'M 30', '', 'M 31', '', 'M 31', '',\n       ...\n       'M 25', '', '', '', 'M 38', '', '', 'M 30', '', 'M 31'],\n      dtype='object', length=41471)] are in the [columns]"

In [26]:
#Create a field which shows if an employee took a break


#First get our list of days
days_lst = sorted(list(merged_df['WorkDate'].unique()))

#Then get a list of employees
emp_id_lst = sorted(list(merged_df['EmpId'].unique()))

#Iterate through the list of employees and list of days
"""
for day in days_lst:
    for emp in emp_id_lst:
        current_emp = merged_df[(merged_df['WorkDate'] == day) & (merged_df['EmpId'] == emp)]

        if len(current_emp) > 2:
            return 'Break'
        else:
            return 'No Break'"""

"\nfor day in days_lst:\n    for emp in emp_id_lst:\n        current_emp = merged_df[(merged_df['WorkDate'] == day) & (merged_df['EmpId'] == emp)]\n\n        if len(current_emp) > 2:\n            return 'Break'\n        else:\n            return 'No Break'"

In [ ]:
def is_break(employee, date):

In [ ]:
#merged_df.to_csv('export.csv', index=False)