In [15]:
#Import our libraries
import time
import requests
import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy

#Import our helper functions
import helper_functions_labor_distribution

# Step 1: Get the file report path we need

In [16]:
report_path = helper_functions_labor_distribution.get_report_file_path('Earning Codes Table')

report_path

"/content/folder[@name='zzzCompany Folders']/folder[@name='Proliance Surgeons, Inc., P.S.']/folder[@name='UltiPro']/folder[@name='Export to SQL']/report[@name='Earning Codes Table']"

## Step 2: Retrieve the report and export as a CSV

In [17]:
df = helper_functions_labor_distribution.retrieve_report(report_path) 
df

   earnings_code                   earnings
0            CC3        Critical Care Lvl 3
1          CHARG          Charge RN Premium
2            CME  Continuing Education-HRLY
3           CME2  Continuing Education-SLRY
4           COVD                   COVID-19
..           ...                        ...
69           PTO              Paid Time Off
70         PTRAN     Transportation Taxable
71           REG                Regular Pay
72          REGD         Regular Doctor Pay
73          REGS         Regular Salary Pay

[74 rows x 2 columns]

In [18]:
#Add 4 blank columns
df['company_code'] = 'PRL'
df['is_productive'] = 'NULL'
df['classification'] = 'NULL'
df['is_fte'] = 'NULL'

In [21]:
#Rename the earnings column
df.rename(columns={'earnings': 'earnings_description'}, inplace=True)
df

,earnings_code,earnings_description,company_code,is_productive,classification,is_fte
0,CC3,Critical Care Lvl 3,PRL,NULL,NULL,NULL
1,CHARG,Charge RN Premium,PRL,NULL,NULL,NULL
2,CME,Continuing Education-HRLY,PRL,NULL,NULL,NULL
3,CME2,Continuing Education-SLRY,PRL,NULL,NULL,NULL
4,COVD,COVID-19,PRL,NULL,NULL,NULL
...,...,...,...,...,...,...
69,PTO,Paid Time Off,PRL,NULL,NULL,NULL
70,PTRAN,Transportation Taxable,PRL,NULL,NULL,NULL
71,REG,Regular Pay,PRL,NULL,NULL,NULL
72,REGD,Regular Doctor Pay,PRL,NULL,NULL,NULL
73,REGS,Regular Salary Pay,PRL,NULL,NULL,NULL

In [23]:
#Reorder the columns
df = df[['company_code', 'earnings_code', 'earnings_description', 'is_productive','classification', 'is_fte']]
df

,company_code,earnings_code,earnings_description,is_productive,classification,is_fte
0,PRL,CC3,Critical Care Lvl 3,NULL,NULL,NULL
1,PRL,CHARG,Charge RN Premium,NULL,NULL,NULL
2,PRL,CME,Continuing Education-HRLY,NULL,NULL,NULL
3,PRL,CME2,Continuing Education-SLRY,NULL,NULL,NULL
4,PRL,COVD,COVID-19,NULL,NULL,NULL
...,...,...,...,...,...,...
69,PRL,PTO,Paid Time Off,NULL,NULL,NULL
70,PRL,PTRAN,Transportation Taxable,NULL,NULL,NULL
71,PRL,REG,Regular Pay,NULL,NULL,NULL
72,PRL,REGD,Regular Doctor Pay,NULL,NULL,NULL
73,PRL,REGS,Regular Salary Pay,NULL,NULL,NULL

# Step 3: Export the report as a CSV

In [ ]:
df.to_csv('ukg_bulk_insert.csv', index=False)

# Step 4: Insert the report into BiData2 as a table

In [ ]:
#helper_functions_labor_distribution.create_sql_table_v2('ZZ_TEST_Earnings_Code')

# Step 5: Close the API connection

In [ ]:
#helper_functions_labor_distribution.close_api_connection()

Code to create the table: 

CREATE TABLE ZZ_TEST_EarningsByCode(
	company NVARCHAR(255), 
	employee_name NVARCHAR(255), 
	employee_number NVARCHAR(255), 
	job_code NVARCHAR(255), 
	earnings_code NVARCHAR(255), 
	location_code NVARCHAR(255), 
	location NVARCHAR(255), 
	allocated_earning_amount NVARCHAR(255), 
	allocated_earning_hours NVARCHAR(255), 
	allocation_percent NVARCHAR(255), 
	period_control_date NVARCHAR(255), 
	org_level_3_code NVARCHAR(255), 
	gl_base_segment NVARCHAR(255), 
	gl_sub_account NVARCHAR(255), 
	period_start_date NVARCHAR(255), 
	period_end_date NVARCHAR(255), 
	pay_group NVARCHAR(255), 
	pay_group_code NVARCHAR(255))