In [1]:
#Import our libraries
import time
import requests
import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy
import sys

#Set the path variable, so python can find the module, helper_functions_employee_attestation
sys.path.append(r"\\dc-bisql01\UKG\Reports as a service\Precheck")

#Import our helper functions
import helper_functions_employee_attestation

# Step 1: View the list of reports available

In [2]:
#View the list of reports
#report_lst = helper_functions_employee_attestation.get_available_reports()
#report_lst
#list(report_lst[report_lst['ReportName'] == 'Attestation V4']['ReportPath'])

In [7]:
#report_path = report_lst[report_lst['ReportName'] == 'Pre-Check Deduction']['ReportPath'].loc[64]
report_file_path = helper_functions_employee_attestation.get_report_file_path('Attestation V4(1) (1)')
report_file_path

'/content/folder[@name=\'zzzCompany Folders\']/folder[@name=\'Proliance Surgeons, Inc., P.S.\']/folder[@name=\'UltiPro\']/folder[@name="Zack\'s Reports"]/report[@name=\'Attestation V4(1) (1)\']'

## Step 2: Retrieve the report and export as a CSV

In [8]:
df = helper_functions_employee_attestation.retrieve_report(report_file_path) 
df

,employee_id,first_name,last_name,pay_group,timesheet_status_code,work_date,in_punch,out_punch,pay_code
0,000000000012345,RYAN UTM,RYAN UTM,Salaried Biweekly,3,2023-05-29 00:00:00,,,
1,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,9,2023-05-02 00:00:00,2023-05-02 07:06:00,2023-05-02 07:58:00,PTO
2,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,42,2023-05-02 00:00:00,2023-05-02 07:06:00,2023-05-02 07:58:00,WORK HOURS
3,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,9,2023-05-02 00:00:00,2023-05-02 07:58:00,2023-05-02 12:21:00,PTO
4,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,42,2023-05-02 00:00:00,2023-05-02 07:58:00,2023-05-02 12:21:00,WORK HOURS
...,...,...,...,...,...,...,...,...,...
160032,001008980-JAV8Y,Jordan,Brockmeyer,Hourly BiWeekly,0,2023-06-20 00:00:00,2023-06-20 12:23:00,2023-06-20 13:23:00,REG HOURS HRLY
160033,001008980-JAV8Y,Jordan,Brockmeyer,Hourly BiWeekly,0,2023-06-20 00:00:00,2023-06-20 16:07:00,2023-06-20 18:07:00,REG HOURS HRLY
160034,001008980-JAV8Y,Jordan,Brockmeyer,Hourly BiWeekly,6,2023-06-15 00:00:00,,,REG HOURS HRLY
160035,001008980-JAV8Y,Jordan,Brockmeyer,Hourly BiWeekly,6,2023-06-16 00:00:00,,,REG HOURS HRLY
160036,001008984-JAV8Y,Cam,Zell,Hourly BiWeekly,0,2023-06-21 00:00:00,2023-06-21 06:59:00,,

In [5]:
df[df['employee_id'] == '000000273-JAV8Y']

,employee_id,first_name,last_name,pay_group,timesheet_status_code,work_date,in_punch,out_punch
1,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-02 00:00:00,2023-03-02 07:20:00,2023-03-02 12:14:00
2,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-02 00:00:00,2023-03-02 12:43:00,2023-03-02 16:26:00
3,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-03 00:00:00,2023-03-03 07:08:00,2023-03-03 12:06:00
4,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-03 00:00:00,2023-03-03 12:32:00,2023-03-03 16:17:00
5,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,3,2023-03-06 00:00:00,2023-03-06 07:14:00,2023-03-06 12:14:00
...,...,...,...,...,...,...,...,...
195,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-07-24 00:00:00,,
196,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-08-04 00:00:00,,
197,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-08-17 00:00:00,,
198,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-08-18 00:00:00,,
199,000000273-JAV8Y,Jessica,Clark,Hourly BiWeekly,0,2023-09-01 00:00:00,,

# Step 3: Export the report as a CSV

In [6]:
df.to_csv('ukg_bulk_insert.csv', index=False)

# Step 4: Insert the report into BiData2 as a table

In [7]:
helper_functions_employee_attestation.create_sql_table_v2('ZZ_TEST_EmployeeAttestation')

# Step 5: Close the API connection

In [8]:
helper_functions_employee_attestation.close_api_connection()